 @import "../Page.style.scss";

.TitleDiv {
    background-color: white;
    width: 1140px !important;
    
  }
  
$kasL:600px;
.Post{
  margin-top: $PostPagePad;
} 
.Dis{
  padding-left:1px ;
  padding-right: 9px !important;
  background-color: aqua;

 }
 .firstTitle{

  text-align: center;
   color:#2F435B ; 
  
   font-weight: 200;
   padding-bottom: 10px;
 }